body {
    background-color: #1abc9c;
    height: 100%;
}

.App {
    text-align: center;
    padding: 5%;
}

.right-button {
    cursor: pointer;
    float: right;
}

.list-item {
    display: inline-block;
}